body {
    background-color: #909580;
}
h1 {
    color: #2F0A28;
}
h2 {
    font-style: italic;
    color: #301A4B;
}
p {
    white-space:pre-line;
    color: #FFE8D4;
}
p1 {
    font-style: italic;
    color: #545643;
}